<div class="limiter animated fadeInLeft">
    <div class="container-login102">
        <div class="col-md-4">
            <h3>Registro de Movimientos </h3>
        </div>
        
        <div class="col-md-4">
            <h3>Monto Disponible $501.50</h3>
        </div>
        
        <div class="container">
            <div class="wrap-input100 validate-input">
                <input class="input100" type="text" name="movimiento" placeholder="Ingrese el Movimiento">
                <span class="focus-input100"></span>
                <span class="symbol-input100">
							<i class="fa fa-book" aria-hidden="true"></i>
				</span>
            </div>
        </div>
        <div class="container">
            <div class="wrap-input100 validate-input">
                <input class="input100" type="text" name="monto" placeholder="Ingrese el Monto">
                <span class="focus-input100"></span>
                <span class="symbol-input100">
							<i class="fa fa-usd" aria-hidden="true"></i>
				</span>
            </div>
        </div>
        <div class="container">
            <button class="btn btn-success">Guardar Movimiento</button>
        </div>
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col" style="width: 5%;">Descripción</th>
                    <th scope="col" style="width: 75%;">Monto</th>
                    <th scope="col" style="width: 20%;">Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Bailar</td>
                    <td>$30.50</td>
                    <td>
                        <button class="btn btn-success btn-sm"> Agregar</button>
                        <button class="btn btn-danger btn-sm"> Eliminar</button>
                    </td>
                </tr>
                <tr>
                    <td>Parque</td>
                    <td>10.00</td>
                    <td>
                        <button class="btn btn-success btn-sm"> Agregar</button>
                        <button class="btn btn-danger btn-sm"> Eliminar</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>