<div class="limiter animated fadeInLeft">
    <div class="container-login102">
        <h3>Monto $1500.00 </h3>
        <button class="btn btn-success">Nueva Categoria</button>
        <div class="container">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col" style="width: 5%;">#</th>
                        <th scope="col" style="width: 75%;">Categoria</th>
                        <th scope="col" style="width: 20%;">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Comida</td>
                        <td>
                            <button class="btn btn-success btn-sm"> Agregar</button>
                            <button class="btn btn-danger btn-sm"> Eliminar</button>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Transporte</td>
                        <td>
                            <button class="btn btn-success btn-sm"> Agregar</button>
                            <button class="btn btn-danger btn-sm"> Eliminar</button>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>Acio</td>
                        <td>
                            <button class="btn btn-success btn-sm"> Agregar</button>
                            <button class="btn btn-danger btn-sm"> Eliminar</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>